@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";

.container {
    @include Padding;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    h2 {
        
        font-size: 65px;    
        font-weight: bold;                
    }

    p {
        font-size: 30px; 
        opacity: 0.7;     
        margin-bottom: 8rem;  
    }

    h2, p {
        width: 900px;
        text-align: center;
    }
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 68px;
}

.feature {  
    width: 509px; 
    height: 347px;
    padding: 32px 35px;
    background-color: $white-color;
    border-radius: 5px;

    h2 {
        font-size: 41px;
        font-weight: bold;
        color: $purple-2-color;
        width: auto;
        text-align: left;
    }

    p {
        font-size: 22px;
        color: $grey-2-color;
        width: auto;
        text-align: left;
    }
}

