@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";

.container {
    @include Padding;
    padding-top: 72px;
    background-color: $purple3-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.column {
    margin-top: 4.5rem;

    &.columnPrincipal {
        margin-top: 0px;
    }

    .title {
        font-size: 29px;
        color: $white-color;
        margin: 0;
    }

    h5 {
        font-size: 24px;
        color: $green-color;
    }

    p {
        font-size: 22px;
    }

    &.alignRight {
        text-align: right;
    }
    
    .icons {
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}

.allRightReserved {
    padding: 6rem 0 1rem;
    font-size: 20px;
    color: $grey-color;  
    grid-column: span 4;  
    text-align: center;
    opacity: 0.7;
}